.social-dropdown {
  width: 300px;
  margin: auto;
  background: var(--white-1);
  border-radius: 5px;
  transition: all 0.3s;
  position: relative;
  z-index: 2;
  margin-top: 10px;
  box-shadow: rgb(145 158 171 / 20%) 0 0 2px 0, rgb(145 158 171 / 12%) 0 12px 24px -4px;

  .social-card {
    background: #48bb78; /* Nền xanh */
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;

    .social-bg-primary {
      background-color: #48bb78;
      padding: 15px;
      height: 57px;
      border-radius: 5px;

      h5 {
        font-size: 16px;
        padding: 5px 0;
        color: var(--white-1);

        .social-count {
          float: right;
          font-size: 12px;
          font-weight: 700;
          line-height: 16px;
          white-space: nowrap;
          color: var(--gray-3);
          background-color: var(--white-7);
          padding: 3px 8px;
          border-radius: 50px;
        }
      }
    }

    &-body-info {
      border: 1px solid var(--white-7);
      background: var(--white-1);

      &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px;
        padding: 10px;
        overflow-y: scroll;

        .social-sub-card {
          padding: 10px 15px;
          margin: 0;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          width: 100%;
          cursor: pointer;
          box-shadow: none;
          background-color: #f9f9f9;
          box-sizing: border-box;

          .content-avatar {
            width: 45px;
            height: 45px;
            text-align: center;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .userIcon {
              width: 30px;
              height: 30px;
              color: #48bb78;
            }
          }

          .content-body {
            width: 100%;
            padding: 0 10px;
            overflow-x: hidden;
            white-space: nowrap; /* Không cho nội dung xuống dòng */
            text-overflow: ellipsis; /* Hiển thị dấu '...' khi nội dung tràn */

            .title {
              font-size: 14px;
              line-height: 21px;
              color: var(--black-4);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .subtext {
              font-size: 12px;
              color: var(--gray-9);
              overflow: hidden; /* Ẩn phần nội dung tràn */
              text-overflow: ellipsis; /* Thêm dấu ba chấm */
              white-space: nowrap; /* Không cho nội dung xuống dòng */
            }
          }

          .content-icons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .trash {
              font-size: 14px;
              color: var(--red-3);
            }

            .circle {
              font-size: 10px;
              color: var(--primary-1);
              margin-top: 6px;
            }
          }

          &:hover {
            background-color: #e0f7e9; /* Màu nền khi hover */
          }
        }
      }

      .social-sub-button {
        text-align: center;
        margin: 10px 0;
        cursor: auto;

        .signOut {
          background-color: #48bb78;
          color: var(--white-1);
          border-radius: 5px;
          font-size: 14px;
          font-weight: 700;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
