.dashboard {
  display: grid;
  grid-template-columns: 1fr 3fr; // Sidebar 1 cột, Content 3 cột
  grid-gap: 10px; // Khoảng cách giữa các phần
  background-color: #d9d9d9;
  &-sidebar {
    grid-column: 1; // Nằm ở cột đầu tiên
    max-width: 100%; // Chiếm toàn bộ cột được giao
    padding: 30px;

    @media (max-width: 800px) {
      display: none; // Ẩn sidebar trên mobile
    }
  }

  &-content {
    grid-column: 2; // Nằm ở cột thứ hai
    height: 100vh;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (max-width: 800px) {
      padding: 10px;
      grid-column: 1; // Chiếm toàn bộ chiều ngang khi ở mobile
      grid-row: 1; // Đặt ở hàng đầu tiên
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr; // Layout 1 cột trên mobile
  }
}
