.dashboard {
  display: flex;

  &-sidebar {
    flex: 2;
    max-width: 17%;
    @media (max-width: 768px) {
      max-width: 1%;
    }
  }

  &-content {
    flex: 5;
    height: 100vh;
    background-color: #f5f7fc;
  }
}
