.form-row {
  .form-label {
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
  }

  .form-input {
    line-height: 1.5;
    color: var(--gray-11);
    background-clip: padding-box;
  }
}
