.menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px 12px;
  text-align: left;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s; /* Thêm hiệu ứng chuyển đổi cho border-radius */
  border-radius: 8px; /* Bo tròn góc cho mỗi mục menu */
}

.menu-item-active {
  background-color: #d1e7ff; /* Nền xanh dương nhạt khi submenu mở */
  color: #007bff; /* Đổi màu chữ thành xanh dương */
  border-radius: 8px; /* Bo tròn góc khi submenu mở */
}

.menu-item-active .menu-item-icon-size {
  color: #007bff; /* Đổi màu icon thành xanh dương */
}

.menu-item-icon-size {
  font-size: 20px;
  flex-shrink: 0;
}

.menu-item-text {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Hover effect chỉ áp dụng khi chưa active */
.menu-item:not(.menu-item-active):hover {
  background-color: #f0f0f0; /* Màu nền xám khi hover */
//   color: #0069d9; /* Màu chữ xanh dương khi hover */
}

.menu-item-active:hover {
  background-color: #d1e7ff; /* Giữ màu nền khi hover */
//   color: #007bff; /* Giữ màu chữ khi hover */
}

.menu-item-chevron {
  margin-left: auto;
  font-size: 14px; /* Thay đổi kích thước mũi tên */
  width: 12px;  /* Thêm thuộc tính width để điều chỉnh kích thước */
  height: 12px; /* Thêm thuộc tính height để điều chỉnh kích thước */
  transition: transform 0.2s ease, background-color 0.3s, color 0.3s;
}
