$logo-max-height: 50px; /* Chiều cao tối đa logo */
$logo-width: 100%; /* Chiều rộng của logo */

.logo {
  width: $logo-width;
  height: 100%;
  max-height: $logo-max-height;


  img {
    width: 100%; /* Chiếm toàn bộ chiều rộng container */
    height: 40px; /* Giữ tỷ lệ khung hình */
    max-height: $logo-max-height; /* Giới hạn chiều cao tối đa */
    object-fit: contain; /* Đảm bảo không bị kéo giãn */
  }
}
