.saves {
  margin-top: 30px;
  max-width: 1152px;
  margin: auto;
  height: 100vh;

  &-content {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Sử dụng flex để căn giữa nội dung */
    margin-top: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 60px;
    height: calc(100vh - 60px); /* Đảm bảo nội dung không bị chặn */

    .saves-post {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
      width: 100%; /* Đảm bảo bài post chiếm hết không gian */
      scroll-behavior: smooth;
      display: flex;
      justify-content: center;
      align-items: flex-start; /* Căn giữa nội dung bên trong */
    }
  }

  .empty-page {
    // display: flex;
    top: 150px;
    // left: 50%;
    // transform: translateX(-50%); /* Căn giữa */
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #555;
    background-color: #f9f9f9;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .saves-content {
    flex-direction: column;
    padding: 0 20px;
    height: calc(100vh - 60px); 
  }

  .saves-content .saves-post {
    width: 100%;
    height: 100%;
    padding-bottom: 50px; 
  }

  .empty-page {
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 1rem;
    padding: 10px;
  }
}

@media (max-width: 390px) {
  .saves {
    padding: 0 10px;
  }

  .saves-content {
    padding: 0 10px;
  }

  .saves-content .saves-post {
    height: calc(100vh - 60px); 
  }

  .empty-page {
    top: 80px;
    font-size: 1rem;
  }
}
