.saves {
  margin-top: 30px;
  max-width: 1152px;
  margin: auto;
  height: 100vh;

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 150px;

    .saves-post {
      grid-area: post;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100vh;
      scroll-behavior: smooth;
    }
  }
  .empty-page {
    position: absolute;
    top: 150px;
    left: 100;
    width: 100vh;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #555;
    background-color: #f9f9f9;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .saves-content {
    display: flex;
    grid-template-areas: 'post';
    grid-template-columns: 1fr;
    margin: 0 20px;
  }
}
