@use '../../../assets/colors/variables.scss' as *;

.post-skeleton {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: $component-color;
  border-radius: 16px;
  box-shadow: 0 0 2px 0 var(--gray-16), 0 2px 14px -4px var(--gray-12);
  border: 0.5px solid var(--gray-16);

  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 0rem;

    .avatar-container {
      margin-right: 10px;
    }

    .user-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .post-content {
    width: 100%;
    border-bottom: 1px solid var(--white-4);

    .post-background {
      width: 100%;
      height: 200px;
      background-color: #EFF1F6;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 15px;
      
      .separator {
        margin: 0 8px;
        color: #EFF1F6;
      }
    }

    .post-actions {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
    }
  }
}