@import '../../../variables';
.header-dropdown {
  position: fixed;
  right: 10px;
  top: 65px;
  background-color: white;
  box-shadow: 0 0 1px 0 var(--black-1);
  width: 300px;
  color: black;
  padding: 10px;
  border-radius: 10px;
  h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    
    &-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      padding: 10px;
      &-name {
        font-size: 15px;
        font-weight: 700;
        text-align: center;
      }
      &-avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    :hover {
      background-color: var(--white-7);
    }
  }
}
