.chat-window-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .chatWindow {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: transparent;
        justify-content: space-between;

        .chat-title {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            &-avatar {
                grid-row: span 2;
                height: 40px;
                width: 40px;
                border-radius: 100%;
            }
            &-items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-left: 10px;

                .chat-name {
                    grid-area: name;
                    font-weight: 700;
                    font-size: 15px;
                }

                .user-not-online {
                    padding-top: 0;
                }

                .chat-active {
                    grid-area: active;
                    font-size: 12px;
                    color: green;
                }
            }
        }

        .chat-window {
            display: flex;
            flex-direction: column;
            width: 100%;
            position: relative;

            app-image-preview {
                grid-area: image-preview;
                width: 100%;
            }
        }
    }
}

app-container {
    top: 49%;
    position: absolute;
}
