@use "../../assets/colors/variables.scss" as *;

.app-side-menu {
    .side-menu {
        .list-unstyled {
            margin: 0;
            padding: 0;
            width: 100%;
            li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .sidebar-link {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 85%;
                    text-decoration: none;
                    border: 1px solid transparent;
                    padding: 0.6rem 1.5rem;
                    cursor: pointer;
                }
                .menu-link {
                    padding-left: 0.8rem;
                }
            }
        }
    }
}

.app-side-menu {
    display: block;
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

// Ẩn sidebar khi màn hình nhỏ hơn 768px và hiển thị nút toggle
@media screen and (max-width: 768px) {
    .app-side-menu {
        display: none;
        position: fixed;
        top: 0px;
        left: 0;
        width: 250px;
        z-index: 1000;
        transition: all 0.3s ease-in-out;
    }

    .app-side-menu.open {
        display: block;
    }
    .toggle-button {
        display: block;
    }
}

.mobile-sidebar svg {
    size: 30px;
}
