.notification-preview-container {
  .dialog {
    .dialog-body {

      &-img {
        object-fit: cover;
      }

      &-comment {
        width: auto;
        padding-top: 10px;
        padding-bottom: 5px;
        font-style: italic;
      }

      &-reaction {
        width: auto;
        padding-top: 10px;
        padding-bottom: 5px;
        font-style: italic;
        display: flex;

        &-text {
          margin-right: 6px;
        }

        img {
          width: 20px;
          height: 20px;
          object-fit: cover;
        }
      }
    }

    .btn-container {
      display: flex;
      justify-content: space-around;

      .cancel-btn {
        margin-top: 10px;
        cursor: pointer;
        background: transparent;
        border-color: var(--primary-1);
        color: var(--primary-1);
        font-weight: bold;
      }
    }
  }
}
