.forgot-password-container {
  height: 100vh; 
  overflow: auto; 
  position: relative;
}
span.login {
  display: flex;
  align-items: center;
  gap: 10px;
}
.back-to-login {
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.back-to-login .arrow-left {
  margin-right: 5px;
}
