.forgot-password-container {
  height: 100vh; 
  overflow: auto; 
  position: relative;
}
span.login {
  display: flex;
  align-items: center;
  gap: 10px;
}
.back-to-login {
  display: flex;
  align-items: center;
  gap: 10px;
}


