$primary-color: #2D4354;
$background-color: #EEEDEB;
$component-color: white;
$primary-black-color: #000000;
$primary-white-color: #ffffff;
$item-color: #e4eaeb;
$button-background: #F2F9FF;
$button-text: black
