@use "../../../../assets/colors/variables.scss" as *;
.header-dropdown {
    background-color: white;
    width: 300px;
    &-content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        &-item {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            border-radius: 10px;
            &-name {
                font-size: 15px;
                font-weight: 700;
                text-align: center;
            }
            &-avatar {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
